#owed {
	color: rgba(255,255,255,0.9);
	position: absolute;
	top: 40%;
	left: 50%;
	-webkit-transform: translate(-50%);
}

#cardcheck {
	position: absolute;
	visibility: hidden;
}

#cardimg {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	cursor: pointer;
}

#cardimg:hover {
	-webkit-filter: invert(100%) drop-shadow(0 0 20px rgba(255,255,255,1));
}

#solicit {
	position: fixed;
	bottom: -550px;
	left: 50%;
	-webkit-transform: translate(-50%);
	-webkit-transition: all 1s ease-in-out;
}

#cardcheck:checked ~ #solicit {
	bottom: 20%;
}

#bully {
	visibility: hidden;
	position: fixed;
	top: 28%;
	left: 50%;
	-webkit-transform: translate(-50%);
	z-index: 3;

	font-family: sans-serif;
	font-size: 3em;
	color: red;
	-webkit-transition: visibility 100ms;
	-webkit-transition-delay:1.2s;
}

#cardcheck:checked ~ #bully {
	visibility: visible;
}